*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ece4f3;
  color: white;
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #692b71;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  width: 60%;
  max-width: 600px;
  text-align: left;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  margin-bottom: 4rem;
}

#back-button {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.title {
  text-align: center;
  flex-grow: 1;
}

h1 {
  margin: 0;
  font-size: 18px;
}

p {
  margin: 0;
  font-size: 16px;
  opacity: 0.8;
  margin-bottom: 10px;
}

.container {
  background: white;
  color: black;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  width: 60%;
  max-width: 600px;
  text-align: left;
  height: 550px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
}

input {
  width: 100%;
  padding: 20px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
}

.status-options {
  display: flex;
  justify-content: space-between;
}

.status {
  flex: 1;
  padding: 15px;
  margin: 5px;
  background: #f3effd;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 20px;
}

.create-btn {
  width: 100%;
  padding: 15px;
  margin-top: 30px;
  background: #692b71;
  border: none;
  border-radius: 15px;
  font-weight: bold;
  cursor: pointer;
  color: white;
  font-size: 14px;
}

@media (max-width: 660px) {
  header {
    width: 100%;
    margin-bottom: 4rem;
  }
  .container {
    width: 100%;
  }
  .title {
    text-align: center;
    flex-grow: 1;
    font-size: 20px;
    padding: 10px;
  }
  .status-options {
    display: flex;
    justify-content: space-between;
  }

  .status {
    flex: 1;
    padding: 10px;
    margin: 5px;
    background: #f3effd;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .create-btn {
    width: 100%;
    padding: 15px;
    margin-top: 30px;
    background: #692b71;
    border: none;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    font-size: 14px;
  }
}

.status-radio {
  display: none;
}

.status {
  display: inline-block;
  padding: 15px;
  margin: 5px;
  background: #f3effd;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  width: 30%;
}

#public:checked + label {
  background: #692b71;
  color: white;
}
#protect:checked + label {
  background: #692b71;
  color: white;
}
#private:checked + label {
  background: #692b71;
  color: white;
}

#public:checked ~ #status-container {
  content: "Votre page est publique et visible par tout le monde.";
}
#protect:checked ~ #status-container {
  content: "Votre page est cachée et accessible seulement via un lien.";
}
#private:checked ~ #status-container {
  content: "Votre page est privée et seulement visible par vous.";
}
